<html>
  <head></head>
    <body>
      <form action="/albums" method="POST">
        <label> Title </label>
        <input type="text" name="title"><br>
        <label> Release Year </label>
        <input type="text" name="release_year"><br>
        <label> Artist id </label>
        <input type="text" name="artist_id"><br>

        <input type="submit" value="Submit Form">
      </form>
    </body>
</html>